<h1>Team GB athletes</h1></br>

<table>
  <tr>
    <th id="index_header">Name</th>
    <th id="index_header">Sport</th>
    <th id="index_header">Event</th>
    <!--<th>Dob</th>-->
    <!--<th>Age</th>-->
    <!--<th>Sex</th>-->
    <!--<th>Gold</th>-->
    <!--<th>Silver</th>-->
    <!--<th>Bronze</th>-->
    <!--<th>Total medals</th>-->
    <!--<th>Region</th>-->
    <th id="index_header">Votes</th>
    <th></th>
    <th></th>
    <!--<th></th>-->
    <% if admin_signed_in? %>
    <th></th>
    <th></th>
     <%end%>
  </tr>

<% @athletes.each do |athlete| %>
  <tr>
    <td><p class="ath_name_colour"><div class="index_athlete">&nbsp;&nbsp;<%= link_to athlete.name, athlete %></div></p></td>
    <td><div class="index_sport">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= athlete.sport %></div></td>
    <td><div class="index_event">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= athlete.event %></div></td>
    <!--<td><%= athlete.dob %></td>-->
    <!--<td><%= athlete.age %></td>-->
    <!--<td><%= athlete.sex %></td>-->
    <!--<td><%= athlete.gold %></td>-->
    <!--<td><%= athlete.silver %></td>-->
    <!--<td><%= athlete.bronze %></td>-->
    <!--<td><%= athlete.total_medals %></td>-->
    <!--<td><%= athlete.region %></td>-->
    <td><div class="index_vote"><%= athlete.votes_for%></div></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <!--<td><%= link_to 'Show', athlete %></td>-->
    <% if admin_signed_in? %>
    <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
    <td><%= link_to 'Destroy', athlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if admin_signed_in? %>
<%= link_to 'New Athlete', new_athlete_path %>
<%end%>