<h2 style = "color:#FFFFFF">Sign in</h2>
<div class="user_edit">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
<% end %>
<% if current_page?("/admins/sign_in") %>
<%= render "devise/shared/links" %>
<% else %>  
<div class="devise_links">
<%= render "devise/shared/links" %>
</div>
<% end %>
</div>