<div class="review_form">
<%= simple_form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.hidden_field :user_id , :user=>params[:user_id] %>

    <%= f.hidden_field :athlete_id , :value=>params[:athlete_id] %>


  <div class="field" id="review_form_fields">
    <%= f.label :performance_rating %><br />
     1 <%= f.radio_button :performance_rating, 1 %>
     2 <%= f.radio_button :performance_rating, 2 %>
     3 <%= f.radio_button :performance_rating, 3 %>
     4 <%= f.radio_button :performance_rating, 4 %>
     5 <%= f.radio_button :performance_rating, 5 %><br />
   </div>

  <div class="field" id="review_form_fields">
    <%= f.label :review_summary %><br />
    <%= f.text_field :review_summary %>
  </div>

  <div class="field" id="review_form_fields">
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </div>

  <div class="actions" id="review_form_fields">
    <%= f.submit  'Submit Review'%>
  </div>

<% end %>
</div>