<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Athletes" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <!--<div id="login_nav"-->
          <%= render 'layouts/navigation' %>
          <!--</div>-->
          <div class="general-nav"
               			<div id="nav-centre"></div>
                                <div id="nav-1"><%= link_to "Athletes", athletes_path %></div>
                                <% if admin_signed_in? %>
				<div id="nav-1"><%= link_to "Users", users_path %></div>
                                <% end %>
				<div id="nav-1"><a href="http://www.teamgb.com/" target = "_blank" >Team GB</a></div>
                                <div id="nav-1"><%= link_to "French", "/home?lang=fr" %></div>
                               
          </div>     
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <div id="user_nav">
                <% if admin_signed_in? %>
                  <p>Signed in as <%= current_admin.email %></p>
                  <p><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %> </p>
                <% elsif user_signed_in? %>
                  <p>Signed in as <%= current_user.name %>. Not you?
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
                <% end %>
              </div>
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
              <!--<p class="notice"><%= notice %></p>-->
              <!--<p class="alert"><%= alert %></p>-->
          </div>
          <footer>
          </footer>
        </div>
      </div> 
    </div> 
  </body>
</html>
